:root {
  --theme-color: #b5b5b5;
  --thin-color: #bd93f9;
  --title-color: #F8F8F2;
  --subtitle-color: #d9d9d4;
}

@import 'bulma-dracula.css';
@import 'base.css';

.title {
  color: var(--title-color);
}

.subtitle {
  color: var(--subtitle-color);
}