{{ define "index" }}

{{ $lang := .Meta.Language }}

<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "meta" . }}
    <link rel="stylesheet" href="/static/css/{{ .Theme }}-style.css" />
    <style>
    {{ if .Profile.Skills }}
        .skilltag {
            display: inline-block;
            width: {{ .Profile.GetTagWidth "skills" }};
        }
    {{ end }}
    {{ if .Profile.Languages }}
        .languagetag {
            display: inline-block;
            width: {{ .Profile.GetTagWidth "languages" }};
        }
    {{ end }}
    </style>
    <script>function printPage() {
        if ("{{ .Theme }}" == "dark") {
            alert("{{ translate "print_dark" $lang }}")
        } else {
            window.print();
        }
    }</script>
</head>

<body id="body-app">

{{ if .Meta.GithubCorner }}
{{ template "githubCorner" }}
{{ end }}

<header class="line has-background-primary"></header>

<section class="profile section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths">
                <h1 class="title is-size-1">{{ .Profile.Name }}</h1>
                <p class="subtitle">{{ .Profile.Title }}</p>
            </div>
            <div class="column">
                <figure class="image image is-128x128">
                    <img alt="Profile photo" class="is-rounded" src="{{ .Profile.Photo }}" />
                </figure>
            </div>
            <div class="column is-two-fifths has-text-grey-light has-text-right has-text-centered-mobile">
                <p class="has-text-weight-light">
                    {{ .Profile.City }}
                </p>
                <p class="has-text-weight-light">
                    {{ .Profile.Phone }}
                </p>
                <p class="has-text-weight-light">
                    {{ .Profile.Email }}
                </p>

                {{ with .Profile.Socials }}
                {{ range .Profile.Socials }}
                <% include /socialIcons %>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="noprint">
            <div class="columns ">
                <div class="column is-one-fifth has-text-left has-text-centered-mobile">
                    <button class="button" onclick="printPage()">Print to PDF</button>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>

<div class="hr"></div>

<section class="section">
    <div class="container">
        <div class="summary">
            <div class="title is-size-5 has-text-primary has-text-weight-bold">
                {{ translate "summary" $lang | html }}
            </div>
            <div class="wrapper">{{ .Profile.Summary }}</div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">


                {{ with .Profile.Experience }}
                <div class="experience">
                    <div class="title is-size-5 has-text-primary has-text-weight-bold">
                        {{ translate "experience" $lang }}
                    </div>

                    <!--<% content.data.experiences.forEach(function(experience){ %>-->
                    {{ range . }}
                    <div class="item">
                        <div class="is-size-5">
<!--                            <div class="columns is-gapless">-->
<!--                                <div class="column">-->
                                    <span><b>{{ .Company }}</b></span>
<!--                                </div>-->
<!--                                <div class="column">-->
                                    <span class="has-text-weight-semi-bold"> - <i>{{ .Title }}</i></span>
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div>{{ .Location }}</div>
                        <div class="is-size-6 tag is-primary">{{ .Period }}</div>
                        {{ with .Description }}
                        <ul style="list-style: disc; margin-left: 1em">
                            {{ range . }}
                            <li>{{ . | html }}</li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                    {{ end }}

                </div>
                {{ end }}

                {{ with .Profile.Education }}
                <div class="education">
                    <div class="title is-size-5 has-text-primary has-text-weight-bold">
                        {{ translate "education" $lang }}
                    </div>

                    {{ range . }}
                    <div class="item">
                        <div class="is-size-5">
<!--                            <div class="columns is-gapless">-->
<!--                                <div class="column">-->
                                    <span><b>{{ .Degree }}</b>, </span>
<!--                                </div>-->
<!--                                <div class="column">-->
                                    <span class="has-text-weight-semi-bold">{{ .Name }}</span>
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div>{{ .Faculty }}
                        <div class="is-size-6 tag is-primary ml-5">{{ .Period }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ if or .Profile.Projects (or .Profile.Skills .Profile.Languages) }}
            <div class="column">
                {{ with .Profile.Projects }}
                <div class="projects">
                    <div class="title is-size-5 has-text-primary has-text-weight-bold">
                        {{ translate "projects" $lang }}
                    </div>

                    <!--TODO: projects-->
                    <% content.data.projects.forEach(function(proj){ %>
                    <div class="item">
                        <div class="is-size-5">
                            <b><%= proj.title %></b>
                            —
                            <i><%= proj.company %></i>
                        </div>
                        <div class="is-size-6 tag is-primary"><%= proj.period %></div>
                    </div>
                    <% }); %>
                </div>
                {{ end }}

                {{ with .Profile.Skills }}
                <div class="skills">
                    <div class="title is-size-5 has-text-primary has-text-weight-bold">
                        {{ translate "skills" $lang }}
                    </div>
                    <div class="wrapper">
                        {{ range . }}
                        <div class="item">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="skilltag tag is-size-6">{{ .Name }}</span>
                                        {{ .VisualLevel .Level }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                {{ with .Profile.Languages }}
                <div class="languages">
                    <div class="title is-size-5 has-text-primary has-text-weight-bold">
                        {{ translate "languages" $lang }}
                    </div>
                    <div class="wrapper">
                        {{ range . }}
                        <div class="item">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="languagetag tag is-size-6">{{ .Name }}</span>
                                        {{ .VisualLevel .Level }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                {{ with .Profile.Certificates }}
                <div class="certificates item">
                    <div class="title is-size-5 has-text-primary has-text-weight-bold">
                        {{ translate "certificates" $lang }}
                    </div>

                    {{ range . }}
                    <div class="item">
                        <div class="is-size-5">
                            <div class="tag is-size-6 is-primary text-dark" style="margin-bottom: 5px;">
                                {{ .Name }}
                            </div>

                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <div class="noprint">
            {{ if eq .Theme "light" }}
            <a href="/dark">{{ translate "see_dark" $lang }}</a>
            {{ else }}
            <a href="/light">{{ translate "see_light" $lang }}</a>
            {{ end }}
            <br />
            Copyright © {{ .Year }} {{ .Profile.Name }}. {{ translate "all_rights_reserved" $lang }}
            <br />
        </div>
        {{ translate "powered_by" $lang | html }}
    </div>
</footer>

<footer class="line has-background-primary"></footer>

</body>

</html>
{{ end }}