{{ define "meta" }}
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Dynamic tags -->
<meta name="robots" content="{{ .Meta.Robots }}" /> <!-- FROM YAML -->
<meta name="language" content="{{ .Meta.Language }}" /> <!-- FROM YAML -->
<meta name="author" content="{{ .Meta.Author }}" /> <!-- FROM YAML -->
<meta name="description" content="{{ .Meta.Description }}" /> <!-- FROM YAML -->
<meta name="theme-color" content="{{ .Meta.ThemeColor }}" /> <!-- FROM YAML -->
<!-- Dynamic tags end -->

<title>
    {{ if .Meta.Title }}
        {{ .Meta.Title }}
    {{ else }}
        {{ .Profile.Name }} - {{ .Profile.Title }}
    {{ end }}
</title> <!-- FROM YAML -->
<link rel="icon" type="image/png" sizes="16x16" href="https://cloud.oranki.net/apps/theming/favicon?v=2659fc51" />

<link rel="preconnect" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
</noscript>

<link rel="stylesheet" href="{{ .Basepath }}/static/css/dark-style.css" />
<link rel="stylesheet" href="{{ .Basepath }}/static/css/github-corner.css" />

{{ end }}